<h1>From continue registration in RecipiesSelection</h1>
<p>Please copy your confirmation code, and go to <%= link_to 'Verification', verification_url %></p>
<br>
<br>
Your code: <%= @token %>
<br>
<br>
<p>
  Thank you
</p>
